@font-face {
  font-family: "Geom";
  src: url("/Geom/Geom-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geom";
  src: url("/Geom/Geom-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

html, body {
  font-family: "Geom", sans-serif;
}
